@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/WorkSans-Regular.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/WorkSans-Bold.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}
