@charset 'utf-8';
@import './theme';
@import '~bulma/bulma';

.title {
  color: darken(turquoise, 30%);
  font-weight: bold;
}

.router-link-exact-active {
  background-color: $primary;
  color: white;
}
